@tailwind base;
@tailwind components;
@tailwind utilities;
/*     font-family: 'Oxygen', sans-serif; --font-oxygen
 
    font-family: 'Raleway', sans-serif; --font-raleway

    font-family: 'UnifrakturCook', cursive; --font-fraktur
     */
:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}
* {
  font-family: var(--font-oxygen);
  font-weight: 300;
}
.titletxt {
  font-family: var(--font-raleway);
  font-weight: 100;
}
.displaytxt {
  font-family: var(--font-fraktur);
}
.hoverDisplay:hover {
  font-family: var(--font-raleway);
  font-weight: 200;
}
.bodytxt {
  font-family: var(--font-oxygen);
}
.scrollDisplay::-webkit-scrollbar {
  display: none;
}
.scrollDisplay {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.skillsDiv {
  font-size: 4rem;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skillsDiv p {
  font-size: 12px;
  padding: 5px;
}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
