@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Oxygen&family=Raleway:wght@300;400;600&family=UnifrakturCook:wght@700&display=swap");

/*     font-family: 'Oxygen', sans-serif;

    font-family: 'Raleway', sans-serif;

    font-family: 'UnifrakturCook', cursive;
     */
:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}
* {
  font-family: "Oxygen", sans-serif;
}
.titletxt {
  font-family: "Raleway", sans-serif;
  font-weight: 200;
}
.displaytxt {
  font-family: "UnifrakturCook", cursive;
}
.bodytxt {
  font-family: "Oxygen", sans-serif;
}
.scrollDisplay::-webkit-scrollbar {
  display: none;
}
.scrollDisplay {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.skillsDiv {
  font-size: 4rem;
  padding: 10px;
  display: flex;
}
.skillsDiv p {
  font-size: 12px;
  padding: 5px;
}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
